.footer__topics {
  display: block;
  /* background-color: beige; */
  text-align: center;
  padding-bottom: 50px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0 100px;
  justify-content: center;
  /* list-style-image: url(img/bullet.svg); */
}
li {
  padding-right: 20px;
}
